*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 600;
}

body {
  background:url(assets/background.jpeg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;  
  align-items: center;  
  position: relative;
  justify-content: center;
  overflow: hidden;
} 
.app-container {
    display: flex;
    height: 100vh;
    width: 100%;
    gap: 20px;
    background: none;
    transition: background 0.5s ease-in-out; /* Smooth transition for background change */
}
/* Snow Animation */
.snowy-animation {
    background: url(assets/snow.png);
    animation: snow 2s linear infinite;
}
@keyframes snow 
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 20% 100%;
    }
}
/* Rain Animation */
.rainy-animation {
    background: url(assets/rain.png);
    animation: rain 0.2s linear infinite;
}
@keyframes rain {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 20% 200%;
    }
}

/* Sunny Animation */
.sunny-animation {
    background: url(assets/sunny.png);
    background-position: center;
}

/* Cloudy Animation */
.cloudy-animation {
    background: url(assets/clouds.png);
    animation: cloudy 5s forwards;
}

@keyframes cloudy {
    0% {
        background-position: center top; 
    }
    100% {
        background-position: center center;
    }
}

.side-container { 
    width: 350px;  
    height: 100px;
    background: linear-gradient(  
        to top, rgba(0, 0, 0, 0.15),  
        rgba(255, 255, 255, 0.15));
    backdrop-filter: blur(5px);  
    padding: 20px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    z-index: 10;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.side-container.sidebar {
    width: 350px;
    height: 100vh;
    border-radius: 0;
    border: none;
    left: 0;
    top: 0;
    transform: none; 
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  
.input-container {  
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 25px;  
    }  
.city-input {  
    width: 90%;  
    padding: 10px 16px;  
    border-radius: 99px;  
    border: 1px solid rgb(228, 226, 226);  
    background: transparent;
    outline: none;  
    font-weight: 500;  
    transition: 0.25s border;  
    padding-right: 45px;  
}  
.city-input:focus {  
    border: 3px solid rgb(255, 255, 255);  
}  
.city-input::placeholder {  
    color: rgb(255, 255, 255);  
}
.search-btn {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}
.my_location-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}
.wether-info{
    display:flex;
    flex-direction: column;
    gap: 25px;
}
.regular-txt{
    font-size: 20px;
}
.location-data-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 10px; 
}
.location {
    display: flex;
    align-items: center;
    gap: 10px;
}
.weather-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-img{
    width: 100px;
    height: 100px;
}
.weather-info{
    text-align: end;
}
.sun-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sun-info {
    display: flex;
    align-items: center;
    gap: 8px;
}
.weather-conditions-container {  
    display: flex;  
    justify-content: space-between;
    margin-top: 15px;  
}  
.condition-item {  
    display: flex;  
    align-items: center;  
    gap: 10px;  
}  
.condition-item span {  
    font-size: 40px;  
}
.forecast-time-container {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    padding-bottom: 12px;
    margin-top: 20px;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge */
}
.forecast-time-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}
.forecast-item-time {
    min-width: 80px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}
.forecast-item-time:hover{
    background: rgba(255, 255, 255, 0.15);
}
.forecast-item-time-img {
    width: 40px;
    height: 40px;
}
.section-message {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    text-align: center;  
    gap: 15px;  
    margin-top: 25%;  
}  
.section-message img {  
    height: 250px;  
    width: 300px;  
}
.main-container {
    margin-left: 350px;
    flex: 1;
    overflow-y: scroll;
    height: 100vh;
    padding: 10px;
}
.forecast-date-container {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    padding-bottom: 12px;
    margin-top: 20px;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge */
}
.forecast-date-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

.forecast-item-date {
    min-width: 180px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 10px;
    border-radius: 12px;
    transition: 0.3s background;
}
.forecast-item-date:hover{
    background: rgba(255, 255, 255, 0.15);
}
.forecast-item-date-img {
    width: 100px;
    height: 100px;
}

.charts-section {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px; 
    justify-content: space-between;
    padding: 6px;
}

canvas {
    flex: 1 1 calc(50% - 5px);
    max-width: calc(50% - 5px); 
    height: 300px;
    background-color: #ffffff;
}
@media (max-width: 768px) {
    .charts-section {
        grid-template-columns: repeat(1, 1fr);
    }
}
table{  
    width: 100%;
    background: white;
    opacity: 80%;
    padding: 20px; 
    box-shadow: 2px 0 5px rgb(187, 184, 184); 
    z-index: 10;
    border-radius: 12px;
    align-items: center;
}
td{
    color: black;
    font-size: 20px;
    text-align: center; 
}
.wind-img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
}